<div class="row">

	<div class="col-md-4 text-center">
		<div class="panel panel-primary boxShadow" style=" font-size:16px" >

            <div class="panel-heading">
                <h3 class="panel-title"><b>Benefits of Blood Donation</b></h3>
            </div>

            <div class="panel-body" align="left" style="min-height: 700px; max-height: 700px; overflow-y: scroll;">

              <ol>
                            <h4><b><li>The Joy of Saving Human Lives</li></b></h4>
                            Every time you donate blood, you can help up to 3 or 4 individual recipients. Be a hero by donating blood.
                            <h4><li><b>Balance Iron Levels in Your Blood</b></li></h4>
                              Because high body iron stores have been suggested as a risk factor for acute myocardial infarction, donation of blood could theoretically reduce the risk by lowering body iron stores.
                            <h4><li><b>Better Blood Flow</b></li></h4>
                              What is clear is that blood donors seem to not be hospitalized so often and if they are, they have shorter lengths of stay… And they’re less likely to get heart attacks, strokes, and cancers.
                            <h4><li><b>You Get a Mini Physical(A Free Blood Analysis)</b></li></h4>
                              Every blood donor gets a “mini physical” prior to donation. Your temperature will be checked along with your blood pressure, pulse, and hemoglobin. Your blood will also be tested for 13 infectious diseases like HIV, hepatitis B and C, West Nile Virus, and syphilis. 
                            
                            <h4><b><li>Burns Calories</li></b></h4>
                            People burn approximately 650 calories per donation of one pint of blood, according to the University of California, San Diego.
                            <h4><b><li>Preserves Cardiovascular Health</li></b></h4>
                            Blood viscosity is known to be a unifying factor for the risk of cardiovascular disease, You can reduce your blood viscosity by donating blood on a regular basis, which eliminates the iron that may possibly oxidize in your blood.
                            <h4><b><li>Reduces The Risk of Cancer</li></b></h4>
                            The reduction of iron stores and iron in the body while giving blood can reduce the risk of cancer. Iron has been thought of to increase free-radical damage in the body and has been linked to an increased risk of cancer and aging
                            <h4><li><b>A Longer Life</b></li></h4>
                               This could mean that people who volunteer with other people as their main motivation may be buffered from potential stressors associated with volunteering, such as time constraints and lack of pay.
                         

              </ol>
            
                   
			                                             
            </div>
            

        </div>

	</div>


	<div class="col-md-4 text-center">

        <div class="panel panel-primary boxShadow" style=" font-size:16px">

            <div class="panel-heading">
                <h3 class="panel-title"><b>Register a new Donor</b></h3>
            </div>

            <div class="panel-body" align="left" style="min-height: 700px; max-height: 700px;">


            <%= bootstrap_form_for(@donor) do |f| %>

            	<ul>
				  <% @donor.errors.full_messages.each do |error| %>
				    <li><%= error %></li>
				  <% end %>
				</ul>

				  <%= f.text_field :name, label: "Full Name", placeholder: "Sachin Tanwar", required: "required" %>
                  
                  <%= f.select :blood_group, options_for_select(%w[ A+ B+ O+ AB+ A- B- O- AB-]) %>
                  
                  <%= f.select :area, options_for_select(%w[Indore Vijay_Nagar Bhawar_Kuwa Rajendra_Nagar Geeta_Bhawan Aerodram Tejaji_Nagar Raj_Mohalla Rajwada Chandan_Nagar Gandhi_Nagar Arvindo MY]) %>

                  <%= f.phone_field :phone_no , label: "Phone Number1 (required)", placeholder: "9988776655 (10 digits only)", required: "required" ,maxlength: "10"  %>

                  <%= f.phone_field :phone_no2 , label: "Phone Number2 (optional)", placeholder: "9998887777 (10 digits only)" ,maxlength: "10"  %>

                  <%= f.text_area :address , placeholder: "18/19 Tulsiram nagar, Indore"%>
                  
                  <%= f.text_area :message , placeholder: "Leave a message.... (Not more than 50 words)"%>
                  
                  <%= f.submit "Register" , class: "btn btn-primary"%>
                  
            <% end %>


            
                   
			                                             
            </div>
            

        </div>
                            
    </div>

    <div class="col-md-4 text-center">
    	<div class="panel panel-primary boxShadow" style=" font-size:16px">

            <div class="panel-heading">
                <h3 class="panel-title"><b>Facts related to Blood Donation</b></h3>
            </div>

            <div class="panel-body" align="left" style="min-height: 700px; max-height: 700px; overflow-y: scroll;">

              <ul>
                            <h4><li>Every year our nation requires about 4 Crore units of blood, out of which only a meager 40 Lakh units of blood are available.</li></h4>
                            <h4><li>More than 38,000 blood donations are needed every day.</li></h4>
                            <h4><li>A total of 30 million blood components are transfused each year.</li></h4>
                            <h4><li>The blood type most often requested by hospitals is Type O</li></h4>
                            <h4><li>Sickle cell patients can require frequent blood transfusions throughout their lives.</li></h4>
                            <h4><li>A single car accident victim can require as many as 100 units of blood</li></h4>
                            <h4><li>Blood cannot be manufactured – it can only come from generous donors</li></h4>
                            <h4><li>Type O-negative blood (red cells) can be transfused to patients of all blood types. It is always in great demand and often in short supply.</li></h4>
                            <h4><li>Type AB-positive plasma can be transfused to patients of all other blood types. AB plasma is also usually in short supply.</li></h4>
                            <h4><li>A healthy donor may donate red blood cells every 56 days, or double red cells every 112 days.</li></h4>
                            <h4><li>A healthy donor may donate platelets as few as 7 days apart, but a maximum of 24 times a year.</li></h4>
                            <h4><li>All donated blood is tested for HIV, hepatitis B and C, syphilis and other infectious diseases before it can be transfused to patients.</li></h4>
                            <h4><li>The average adult has about 10 units of blood in his body. Roughly 1 unit is given during a donation.</li></h4>
                            <h4><li>The actual blood donation typically takes less than 10-12 minutes. The entire process, from the time you arrive to the time you leave, takes about an hour and 15 min.</li></h4>
                            <h4><li>Blood donation is a simple four-step process: registration, medical history and mini-physical, donation and refreshments.</li></h4>
                            <h4><li>Donating blood is a safe process. A sterile needle is used only once for each donor and then discarded.</li></h4>
                            

              </ul>


            
                   
			                                             
            </div>
            

        </div>
		
	</div>

	

</div>