    
<!-- Navigation -->

    <div class="row">
            <div class="col-md-3">
                <!-- <h2 class="page-header">Our Logo</h2> -->
                <div class="item">
                            <img class="img-responsive" src="http://us.123rf.com/450wm/123rf/123rf1304/123rf130400035/18776711-this-logo-represents-blood-drop-it-is-also-a-perfect-way-to-create-an-awareness-for-blood-donation.jpg" alt="">
                           
                </div>
            </div>
            <div class="col-md-5">
                <h1 class="page-header"><b>VaaYu YuVaa</b></h1>
                    <h4>A social Initiative by VaaYu on Blood Donation in Indore</h4>

            </div>
            <div class="col-md-4">
              
               

                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Email/Contact</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">Password</label>
                    <div class="col-sm-8">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                  </div>
                </form>
                <form class="form-inline">
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"> Remember me
                        </label>
                      </div>&nbsp &nbsp &nbsp
                      <button type="submit" class="btn btn-default"><b>Sign in</b></button>
                                      
                </form>

                <br>

                
            </div>
    </div>

    <div class="container" style="background-color:#101010; color:#999; ">  
      <header>
        <div class="row">
                    <div class="col-lg-2">
                        <h4><%= link_to "Home", donors_path %></h4>
                    </div>
                    <div class="col-lg-2">
                        <h4><%= link_to "  About", donors_about_path %></h4>
                    </div>
                    <div class="col-lg-2">
                        <h4><%= link_to "Achievements", donors_achievements_path %></h4>
                    </div>
                    <div class="col-lg-2">
                        <h4><%= link_to "Blood Banks", donors_bloodbanks_path %></h4> 
                    </div>
                    <div class="col-lg-2">
                        <h4><%= link_to "Gallery", donors_gallery_path %></h4>
                    </div>
                    <div class="col-lg-2">
                        <h4><%= link_to "Contact Us", donors_contact_path %></h4> 
                    </div>
        </div>
      </header>
    </div><br>

    