

    <!-- Page Content -->
    <div class="container">

        <%= render partial: 'donors/header' %>


        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blood Banks
                    <small>Indore</small>
                </h1>
                
            </div>
        </div>
        <!-- /.row -->

        <!-- Blog Post Row -->
        <div class="row">
            
            <div class="col-md-6" >
                <a href="#">
                    <!-- <img class="img-responsive img-hover" src="http://img.patrika.com/PatrikaImage/News/MY%20Hospital-635601-12-2013-03-01-99N.jpg" alt=""> -->
                    
                     <img src="<%= asset_path( 'my.jpg' ) %> "style="width: 550px; height: 300px"  /> 
                </a>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="http://en.wikipedia.org/wiki/Maharaja_Yeshwantrao_Hospital">Maharaja Yeshwant Rao Hospital (MY)</a>
                </h2>
                <h3>Address : <b>LG-9, A B Road, M Y Road, Indore - 452001, Scheme No 54 </b>
                </h3>
                <h3>Contact : <b>+(91)-9425347423 ,<br> +(91)-731-2438100, 2527947, 2438138</b></h3><br>

                <a class="btn btn-primary" href="http://en.wikipedia.org/wiki/Maharaja_Yeshwantrao_Hospital">More <i class="fa fa-angle-right"></i></a>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Blog Post Row -->
        <div class="row">
            
            <div class="col-md-6" >
                <a href="#">
                    <!-- <img class="img-responsive img-hover" src="http://img.patrika.com/PatrikaImage/News/MY%20Hospital-635601-12-2013-03-01-99N.jpg" alt=""> -->
                    <img src="<%= asset_path( 'arihant.jpg' ) %> "style="width: 550px; height: 300px"  /> 
                </a>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="http://www.arihanthospital.org/">Arihant Hospital & Research Center</a>
                </h2>
                <h3>Address : <b> 283/ A, Gumasta Nagar, Indore - 452009, Scheme No 71  </b>
                </h3>
                <h3>Contact : <b>+(91)-8109813126, 9926929125 <br> +(91)-731-2785172, 2785173, 2785174, 2780118 <br> +(91)-731-2785175</b></h3><br>

                <a class="btn btn-primary" href="http://www.arihanthospital.org/">More <i class="fa fa-angle-right"></i></a>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Blog Post Row -->
        <div class="row">
            
            <div class="col-md-6">
                <a href="#">
                    <!-- <img class="img-responsive img-hover" src="http://img.patrika.com/PatrikaImage/News/MY%20Hospital-635601-12-2013-03-01-99N.jpg" alt=""> -->
                    <img src="<%= asset_path( 'lifeline.png' ) %> "style="width: 550px; height: 300px"  />
                </a>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="http://www.lifelinehospitalindore.com">Life Line Hospital</a>
                </h2>
                <h3>Address : <b>14, A B Road, MIG Main Road, Indore - 452011, MIG Circle, Anoop Nagar  </b>
                </h3>
                <h3>Contact : <b>+(91)-731-2443400, 2575611 <br> +(91)-731-2557420</b></h3><br>

                <a class="btn btn-primary" href="http://www.lifelinehospitalindore.com">More <i class="fa fa-angle-right"></i></a>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            
            <div class="col-md-6">
                <a href="#">
                    <!-- <img class="img-responsive img-hover" src="http://img.patrika.com/PatrikaImage/News/MY%20Hospital-635601-12-2013-03-01-99N.jpg" alt=""> -->
                    <img src="<%= asset_path( 'lifeline.png' ) %> "style="width: 550px; height: 300px"  />
                </a>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="http://www.varmaunionhospital.com">Verma Union Hospital</a>
                </h2>
                <h3>Address : <b>120, Dhar Road, Indore - 452002, Opposite Kastoor Cinema   </b>
                </h3>
                <h3>Contact : <b>+(91)-9827025001, 9302106223 <br> +(91)-731-2380609, 2787694, 4022000, 2380367</b></h3><br>

                <a class="btn btn-primary" href="http://www.varmaunionhospital.com">More <i class="fa fa-angle-right"></i></a>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            
            <div class="col-md-6">
                <a href="#">
                    <!-- <img class="img-responsive img-hover" src="http://img.patrika.com/PatrikaImage/News/MY%20Hospital-635601-12-2013-03-01-99N.jpg" alt=""> -->
                    <img src="<%= asset_path( 'lifeline.png' ) %> "style="width: 550px; height: 300px"  />
                </a>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="#"> Noble Path Lab & Blood Bank </a>
                </h2>
                <h3>Address : <b> South Tukoganj, Indore - 452001, Opposite Nath Mandir   </b>
                </h3>
                <h3>Contact : <b>+(91)-731-2522970</b></h3><br>

                <a class="btn btn-primary" href="#">More <i class="fa fa-angle-right"></i></a>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            
            <div class="col-md-6">
                <a href="#">
                    <!-- <img class="img-responsive img-hover" src="http://img.patrika.com/PatrikaImage/News/MY%20Hospital-635601-12-2013-03-01-99N.jpg" alt=""> -->
                    <img src="<%= asset_path( 'lifeline.png' ) %> "style="width: 550px; height: 300px"  />
                </a>
            </div>
            <div class="col-md-6">
                <h2>
                    <a href="#">Satya Sai Blood Bank</a>
                </h2>
                <h3>Address : <b>64, Kanadia Road, Indore - 452016, Mahavir Nagar   </b>
                </h3>
                <h3>Contact : <b>+(91)-731-2590737</b></h3><br>

                <a class="btn btn-primary" href="#">More <i class="fa fa-angle-right"></i></a>
                
            </div>
        </div>
        <!-- /.row -->

        <hr>

       
        <!-- /.row -->


        

        <%= render partial: 'donors/footer' %>

    </div>
    <!-- /.container -->
